<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm">
    <div class="form-group">
      <label for="first-name"> Name </label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        placeholder="Enter your first name"
        [(ngModel)]="userInformation.firstName"
      />

      <label for="last-name"> Last Name </label>
      <input
        id="last-name"
        name="last-name"
        type="text"
        class="form-control"
        placeholder="Enter your last name"
        [(ngModel)]="userInformation.lastName"
      />

      <label for="cell-number"> Cell Number </label>
      <input
        id="cell-number"
        name="cell-number"
        type="text"
        class="form-control"
        placeholder="Enter your phone number"
        [(ngModel)]="userInformation.cellNumber"
      />
      <!-- <div class="form-group">
        <label for="gender"> Gender </label>
        <select class="gender" name="gender" id="male-female" ngModel>
          <option> Male </option>
          <option> Female </option>
        </select>
      </div> -->

      <label for="A-Number"> A Number </label>
      <input
        id="a-number"
        name="a-number"
        type="text"
        class="form-control"
        placeholder="Enter your a-number"
        [(ngModel)]="userInformation.aNumber"
      />

      <label for="email"> Email </label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        placeholder="Enter your email adress"
        [(ngModel)]="userInformation.email"
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="* * * * * * * *"
      />
      <small> Password should be at least 8 characters long .</small>
      <div class="information-security-note">
        Your information will be managed securely
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{{ originalUserInformation | json }}
