<div class="container">
  <h2>User Information</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="first-name"> Name </label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        placeholder="Enter your first name"
        [(ngModel)]="userInformation.firstName"
        required
      />
    </div>

    <div class="form-group">
      <label for="last-name"> Last Name </label>
      <input
        id="last-name"
        name="last-name"
        type="text"
        class="form-control"
        placeholder="Enter your last name"
        [(ngModel)]="userInformation.lastName"
        required
      />
    </div>

    <div class="form-group">
      <label for="cell-number"> Cell Number </label>
      <input
        id="cell-number"
        name="cell-number"
        type="tel"
        class="form-control"
        placeholder="Enter your phone number"
        [(ngModel)]="userInformation.cellNumber"
        required
        pattern="0.*"
        maxlength="10"
      />
    </div>
    <!-- <div class="form-group">
        <label for="gender"> Gender </label>
        <select class="gender" name="gender" id="male-female" ngModel>
          <option> Male </option>
          <option> Female </option>
        </select>
      </div> -->
    <div class="form-group">
      <label for="A-Number"> A Number </label>
      <input
        id="a-number"
        name="a-number"
        type="text"
        class="form-control"
        placeholder="Enter your a-number"
        [(ngModel)]="userInformation.aNumber"
        required
        pattern="a.*"
        minlength="6"
        maxlength="6"
      />
    </div>

    <div class="form-group">
      <label for="email"> Email </label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        placeholder="Enter your email adress"
        [(ngModel)]="userInformation.email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="* * * * * * * *"
        required
        minlength="8"
      />
    </div>

    <small> Password should be at least 8 characters long .</small>
    <div class="information-security-note">
      Your information will be managed securely
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{{ userInformation | json }}
